//Colors
$red: #F87661
$white: #fff
$black: #333333
$grey: #828282
$light-red: #FEE4DF
$yelow: #FFCA0F
$light-green: #D9E4E2
$green: #42766C
$bg-linear-red: linear-gradient(180deg, #FF9685 0%, #F87661 100%)

//Fonts
$font: Poppins
