footer.footer.container
  hr.footer__line
  .footer__content
    .footer__content-nav
      img(src="assets/img/logo.svg", alt="")
      p We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family.
      .footer__content-nav-soc
        svg.svg-icons
          use(href='./assets/img/icons/svg-sprite.svg#facebook')
        svg.svg-icons
          use(href='./assets/img/icons/svg-sprite.svg#youtube')
        svg.svg-icons
          use(href='./assets/img/icons/svg-sprite.svg#twitter')
    .footer__content-nav
      span Home
      a(href="") Home
      a(href="") About
      a(href="") Service
      a(href="") Service SIngle
      a(href="") Blog
      a(href="") Blog Post
      a(href="") Shop
      a(href="") Product
      a(href="") Contact
    .footer__content-nav
      span Utility pages
      a(href="") Style Guide
      a(href="") Start Here
      a(href="") 404 Not Found
      a(href="") Password Protected
      a(href="") License
      a(href="") Changeiog
    .footer__content-nav
      span Contact us
      a(href="") Style Guide
