section.about.container
  .about__content
    .about__info
      h3 About us of your pets
      p We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family. We believe finding a reliable, professional pet sitter should be easy. So we make sure every.
      .about__info-select
        .about__info-select-btn
          input(type="checkbox" id="10-yers")
          label(for="10-yers")
            | Over 10 years of experience
        .about__info-select-btn
          input(type="checkbox" id="products")
          label(for="products")
            | High - quality products only
        .about__info-select-btn
          input(type="checkbox" id="help")
          label(for="help")
            | 20 talented vets ready to help you
    img.about__image(src="assets/img/about/dog.png", alt="")
