section.banner.container
  .banner__content
    .banner__info
      h2.banner__info-title
        | Your little friend can trust
      p.banner__info-desc
        | We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family.
    .banner__image
      img(src="assets/img/banner/cat.png", alt="")
      img(src="assets/img/banner/dog.png", alt="")
