section.info.container
  hr.info__line
  .info__content
    .info__content-bg
    .info__content-help
      p We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family.
      h3 How to getting a Kitten for your companion
    .info__content-dogs
      img(src="assets/img/info/dog-1.png", alt="")
      img(src="assets/img/info/dog-2.png", alt="")
  hr.info__line
