section.instagram.container
  h2.instagram__title Follow us on
    span Instagram
  .instagram__gallery
    img(src="assets/img/insta/img-1.png", alt="")
    img(src="assets/img/insta/img-2.png", alt="")
    img(src="assets/img/insta/img-3.png", alt="")
    img(src="assets/img/insta/img-4.png", alt="")
    img(src="assets/img/insta/img-5.png", alt="")
    img(src="assets/img/insta/img-6.png", alt="")
