section.news.container
  h2.news__title Our Article & News
  p.news__subtitle We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family.
  .news__cards
    .news__card
      img(src="assets/img/news/card-1.png", alt="")
      h3 Dog toys: How to pick the best
      p We adopted our puppy
      a(href="") Read More
    .news__card
      img(src="assets/img/news/card-2.png", alt="")
      h3 Dog toys: How to pick the best
      p We adopted our puppy
      a(href="") Read More
    .news__card
      img(src="assets/img/news/card-3.png", alt="")
      h3 Dog toys: How to pick the best
      p We adopted our puppy
      a(href="") Read More
