section.services
  .services__title
    h2 Our Services
    p We believe finding a reliable, professional pet sitter should be easy. So we make sure every member of our Family.
  .services__cards.container
    .services__card
      .services__card-ava
        img(src="assets/img/services/ava-1.png", alt="")
      .services__card-content
        h3 Dog pet visit
        p We adopted our puppy. Althought I was skeptical, everything turned out perfect!
        a(href="") Details
    .services__card
      .services__card-ava
        img(src="assets/img/services/ava-2.png", alt="")
      .services__card-content
        h3 Dog pet visit
        p We adopted our puppy. Althought I was skeptical, everything turned out perfect!
        a(href="") Details
      .services__shadow
