section.statistic
  .statistic__content.container
    .statistic__clients
      .statistic__clients-info
        span Customers
        p 12788+
      .statistic__clients-info
        span Adopted
        p 3832+
      .statistic__clients-info
        span Happy
        p 99k
    hr.line
    .statistic__shelter
      img(src="assets/img/statistic/dog.png", alt="")
      .statistic__shelter-info
        h3 Our Testimoni
        p We adopted our puppy. Althought I was skeptical, everything turned out perfect!
  .shadow
